{:mongo-db {:host "localhost"
            :port 27017
            :db-name "tramp"
            :coll "listings"}

 :nomad/hosts {"Lukes-MacBook-Pro.local" {:mongo-db {:db "tramp_test"
                                                     :coll "listings"}}}}
